<div class="panel-body">
	<div class="form-group">
		<label>Type:</label>
		<input class="form-control" ng-model="currentContact.type" />
	</div>
	<div class="form-group">
		<label>Value:</label>
		<input class="form-control" ng-model="currentContact.value" />
	</div>
	<button class="btn btn-primary" ng-click="saveEditedContact(currentContact)">Save</button>
	<button class="btn btn-primary" ng-click="cancelEdit()">Cancel</button>
</div>