<div class="well">
	<h3>Found contacts: <span class="label label-primary">{{totalContacts}}</span></h3>
</div>
<table class="table table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Type</th>
			<th>Value</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="contact in contacts">
			<td>{{$index + 1}}</td>
			<td>{{contact.type}}</td>
			<td>{{contact.value}}</td>
			<td>
				<button type="button" class="btn btn-primary" ng-click="editOrCreateContact(contact)">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
				</button>
			</td>
			<td>
				<button type="button" class="btn btn-danger" ng-click="deleteContact(contact)">
					<i class="fa fa-eraser" aria-hidden="true"></i> Delete
				</button>
			</td>
		</tr>
	</tbody>
</table>
<div>
	<button class="btn btn-primary" ng-click="getContacts()">
		<i class="fa fa-refresh" aria-hidden="true"></i> Refresh table
	</button>
	<button class="btn btn-primary" ng-click="editOrCreateContact()">
		Create new contact
	</button>
</div>